**
!package.json
!README.md
!README.ja.md
!CHANGELOG.md
!CHANGELOG.ja.md
!dist/core.js
!dist/extension.js
!dist/linkMark.js
!dist/notesView.js
!media/notes.js
!media/icon.png
!media/screenshots/**

!media/codicons/**
